<section id="content">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="marg-top-med page">
          <h3 class="tree">Welcome to Medical Pro - High End Bootstrap html5 Template </h3>
          <p>Phasellus pretium, turpis a euismod dignissim, arcu turpis sagittis dui, sed sollicitudin nulla odio nec dolor. Pellentesque a urna sed risus pharetra euismod et eu sem. Ut magna dui, aliquam et porta eu, adipiscing id risus. Vestibulum vulputate eros nec purus viverra quis rhoncus ipsum posuere. Curabitur sem eros, porta et placerat et, malesuada nec enim. Suspendisse imperdiet orci vel quam pulvinar volutpat. Sed tempor, nisl sed cursus lobortis, odio nulla porttitor massa, non euismod tellus felis ac tellus. Nunc sagittis metus sed eros mollis eleifend ut in dui.</p>
        </div><!--/.marg-top-med .page -->
      </div><!--/.span12 -->
    </div><!--/.row-fluid -->
  </div><!--/.container -->

</section>
<!-- End Section content -->