<% content_for(:carousel) do %>
<!-- Home page Carousel -->
<div class="frame">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"><%= image_tag("slider/homeopathy.jpg") %></div>
      <div class="item"><%= image_tag("slider/forest.jpg") %></div>
    </div><!--/.carousel-inner -->

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
  </div><!--/#myCarousel -->
</div><!--/.frame -->
<!-- End Home page Carousel -->
<% end %>

<section id="content">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <div class="marg-top-med page">
          <h3 class="tree">Добро пожаловать на сайт поликлиники №82</h3>
          <p>Гомеопатическая поликлиника №82 является старейшей гомеопатической поликлиникой страны, которая много лет существовала на улице Пражская 12. Доктора нашей поликлиники хорошо владеют гомеопатическим методом лечения, но при необходимости могут лечить пациентов и аллопатическими средствами. С августа 2013г. после проведения реорганизации  мы находимся в составе многопрофильного учрежения «Городская поликлиника №44» фрунзенского района.
            В настоящее время  у коллектива нашей клиники отсутствует информация относительно своего будущего местоположения, поэтому просим следить за новостями этого сайта.</p>
        </div><!--/.marg-top-med .page -->
      </div><!--/.span12 -->
    </div><!--/.row-fluid -->
  </div><!--/.container -->

</section>
<!-- End Section content -->